h2 {
  font-size: 30px;
  font-weight: bold;

  color: var(--primary-text-color);
}

h2.form {
  font-size: 35px;
  margin-bottom: 25px;
  letter-spacing: 1px;
  padding: 10px 0;
}

h2.chat {
  width: 92%;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  letter-spacing: 1px;
}

h2.message {
  font-size: 18px;
  padding: 5px;
}

@media (max-width: 991px) {
  h2.chat {
    width: 85%;
    padding: 5px;
    line-height: normal;
    font-size: 20px;
  }
}
